<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SheduleVehicles</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/Registration/Authorization.js"></script>
</head>
<body onload="autoAuth()">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Search by name bus stop", "Index", "Home")</li>
                    <li>@Html.ActionLink("Search Bus Stops Of Arrival And Departure", "SearchBusStopsOfArrivalAndDeparture", "Home")</li>
                    <li>@Html.ActionLink("Registration", "Registration", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">          
                    <li>
                        <div id="stateAuth" style="display: none">
                            <div class="form-inline" style="margin-top: 8px">
                                <div class="form-group">
                                    <label class="sr-only" for="emailAuth">Email</label>
                                    <input type="email" class="form-control" id="emailAuth" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="passwordAuth">Password</label>
                                    <input type="password" class="form-control" id="passwordAuth" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-default" onclick="auth()">Sign in</button>
                            </div>
                        </div>
                        <div id="stateUser" class="navbar-brand" style="padding-top: 8px; display: none">
                            Hello, <a id="firstAndLastName"></a><button type="button" class="btn btn-warning" style="margin-left: 10px" onclick="logout()">Logout</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>